<html>
  <head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css" />
    <title>Casperfleet log</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>Filters</h2>
          <ul id="filters"></ul>
          <h5 id="results"></h5>
        </div>
        <div class="col-md-9">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="searcher" placeholder="Search" />
            </div>
          </form>
          <div class="panel panel-default">
            <table class="table" id="renderTable">
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var servers = [];
  <% servers.forEach(function(server) { %>
    servers.push('<%= server %>');
  <% }); %>
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="script.js"></script>
</html>
